{% extends '.\layout.html' %}

{% block main %}

<h1>Socios</h1>

<div class="container d-flex">
    <div class="container p-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>DNI</th>
                </tr>
            </thead>
            <tbody>
                {% for socio in socios %}
                <tr>
                    <td>{{ socio.nombre }}</td>
                    <td>{{ socio.apellido }}</td>
                    <td>{{ socio.email }}</td>
                    <td>{{ socio.dni }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="container-sm px-5 w-50">
        <h4 class="p-2">Agregar socio:</h4>
        <form action="{% url 'AppEntrega:socioFormulario' %}" method="post">
            {% csrf_token %}
            <input type="text" name="nombre" placeholder="Nombre" class="form-control m-2">
            <input type="text" name="apellido" placeholder="Apellido" class="form-control m-2">
            <input type="number" name="dni" placeholder="DNI" class="form-control m-2">
            <input type="email" name="email" placeholder="E-mail" class="form-control m-2"> 

            <button type="submit" class="btn btn-primary m-2">Agregar</button>
        </form>
    </div>
</div>
{% endblock %}